body{
  margin: 1%;
  font-family: "brandon-grotesque",sans-serif;

  background: white;
  background-size: 400% 400%;
  }

.gridcontainer {
  display: grid;
  grid-row-gap: 60px;
  grid-column-gap: 0px;
  grid-template-columns: auto;
  padding-top:50px; 
  padding-left:125px;
  padding-bottom:50px;
  padding-right:125px;
  float: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 40vw 20vw 25vw;
  grid-gap: 10px;
  background-color: white;
}

.grid-container2 > div {
  text-align: left;
/*  font-size: 14px;*/
}

footer {
  padding-bottom: 15px;
  font-family: "overpass mono", monospace;
}

.endline {
  padding-left: 20px;
}

.foot {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-left: 40px;
  padding-top: 10px;
}

.footlink {
  font-weight: 600;
}

.droplist {
  float: left;
  padding-bottom: 10px;
  padding-right: 10vw;
  padding-left: 0px;
  padding-top: 10px;
}

/*dropdown style starts*/

.dropbtn {
  background-color: white;
  color: black;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
   display: none;
  position: absolute;
  top: 30px;
/*  right: 10px;
  width: 300px;*/
  background-color: white;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 12px;
    text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;

  min-width: 98vw;
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 65px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #FF859F;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #FF859F;
}

.dot {
  font-size: 20px;
  display: inline-block;
  transition: color 0.3s;
  padding-left: 13px;
  padding-top: 6px;
}

.dot:hover {
  color: black;
}

.name {
  padding-left: 40px;
  padding-bottom: 0px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding-left: 25px;
 /* padding-bottom: 10px;*/
}

li {
  display: inline;
  float: right;
   font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
    padding: 12px 12px 2px 12px;
}


img {
  margin: auto;
  display: block;
  width: 70vw;
  height: auto;
}


.video {
  margin: auto;
float: center;
}

/*#portrait {
  width: auto;
  height: vertical;
}*/


.alltext {
  margin: auto;
  width: 30vw;
  padding-top:70px;
  padding-bottom: 0px;
}

.text2 {
  margin: auto;
  width: 30vw;
  padding-top:0px;
}


.boldtext {
font-weight: bold;
text-transform: uppercase;
}


.bigtext {
font-weight: bold;
font-size: 16px;
color: #BC1717;
text-transform: uppercase;
}


.endtext {
  line-height: 19px;
}

.italic {
  font-style: italic;
}

.caption {
  margin: auto;
  width: 10vw;
}


h1 {
  font-family: "brandon-grotesque",sans-serif;
  color: #DB5858;
  font-size: 20px;
  font-style: bold;
  font-weight: 545;
  text-transform: uppercase;
  letter-spacing: 0.2em;
    text-rendering: optimizeLegibility;

}

h3 {
  font-family: "overpass mono", monospace;
  color: grey;
  font-size: 11px;
  text-rendering: optimizeLegibility;
  padding-bottom: 40px;
  line-height: 80%;
}

h2 {
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: bold;
  letter-spacing: 0.1em;
    text-rendering: optimizeLegibility;
    color: #9C3A48;
}

p {

 font-family: "overpass mono", monospace;
  color: black;
  font-size: 13px;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  line-height: 125%;


}

::selection {
    background: transparent;
    color: #FF859F;
}


a:link {
    color:  black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color:  black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FF859F;
    text-decoration: none;
}

/* selected link */
a:active {
    color:  black;
    text-decoration: none;
}


ul {
  overflow: hidden;
}

.hover:hover {
   color: #FF859F;
    text-decoration: none;
}


